nav {
  padding: 16px;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar a {
  color: #ebe9e9;
}
nav .navbar .right-nav .close {
  display: none;
  cursor: pointer;
}
nav .navbar .right-nav .close i {
  font-size: 18px;
}
nav .navbar .right-nav a {
  position: relative;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 500;
}
nav .navbar .right-nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #6a994e;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
nav .navbar .right-nav a:hover::after {
  width: 100%;
}
nav .navbar .left-nav {
  flex: 1;
}
nav .navbar .left-nav a {
  font-size: 32px;
  font-weight: 600;
}
nav .navbar .left-nav a .main-text {
  color: #6a994e;
}
nav .navbar .bars {
  display: none;
  cursor: pointer;
}
nav .navbar .bars i {
  font-size: 18px;
}
nav.sticky {
  padding: 8px;
  background-color: #6a994e;
}
nav.sticky .left-nav a .main-text {
  color: #ebe9e9;
}
nav.sticky .right-nav a::after {
  background-color: #ebe9e9;
}

.home {
  background: #03080f;
  height: 100vh;
}
.home .home-img-div {
  display: flex;
  height: 100%;
  align-items: center;
}
.home .home-img-div .home-content .text-1 {
  font-size: 24px;
}
.home .home-img-div .home-content .text-2 {
  font-size: 40px;
  font-weight: 600;
}
.home .home-img-div .home-content .text-3 {
  font-size: 32px;
}
.home .home-img-div .home-content .text-3 span {
  font-weight: 500;
}

.about {
  margin-bottom: 40px;
  overflow: hidden;
}
.about .about-content {
  padding-top: 66px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  height: 600px;
}
.about .about-content .left-about {
  flex: 1;
  width: 100%;
}
.about .about-content .left-about img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-content .right-about {
  flex: 2;
}
.about .about-content .right-about h1 {
  margin-bottom: 16px;
  font-size: 40px;
}
.about .about-content .right-about .tab-titles {
  margin-top: 16px;
  display: flex;
  gap: 32px;
}
.about .about-content .right-about .tab-titles .title {
  cursor: pointer;
  font-weight: 500;
  position: relative;
}
.about .about-content .right-about .tab-titles .title::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #6a994e;
  position: absolute;
  bottom: 0;
  left: 0;
}
.about .about-content .right-about .tab-titles .title.active::after {
  width: 50%;
}
.about .about-content .right-about .tab-content {
  margin-top: 16px;
}
.about .about-content .right-about .tab-content .content {
  display: none;
}
.about .about-content .right-about .tab-content .content ul {
  list-style: none;
}
.about .about-content .right-about .tab-content .content ul li {
  margin-bottom: 16px;
}
.about .about-content .right-about .tab-content .content ul li span {
  font-size: 13px;
}
.about .about-content .right-about .tab-content .content.active {
  display: block;
}
.about .about-content .right-about .tab-content .content .bars {
  margin-bottom: 16px;
}
.about .about-content .right-about .tab-content .content .bars .info {
  display: flex;
  justify-content: space-between;
}
.about .about-content .right-about .tab-content .content .bars .line {
  height: 5px;
  width: 100%;
  background-color: lightgray;
  position: relative;
}
.about .about-content .right-about .tab-content .content .bars .line::after {
  content: "";
  height: 100%;
  background-color: #6a994e;
  position: absolute;
  top: 0;
  left: 0;
}
.about .about-content .right-about .tab-content .content .bars .line.html::after {
  width: 80%;
}
.about .about-content .right-about .tab-content .content .bars .line.css::after {
  width: 80%;
}
.about .about-content .right-about .tab-content .content .bars .line.ruby::after {
  width: 75%;
}
.about .about-content .right-about .tab-content .content .bars .line.javascript::after {
  width: 60%;
}
.about .about-content .right-about .tab-content .content .bars .line.sql::after {
  width: 70%;
}
.about .about-content .right-about .tab-content .content .bars .line.git::after {
  width: 50%;
}

.projects {
  padding-top: 24px;
  margin-bottom: 40px;
}
.projects h1 {
  padding-top: 43px;
  font-size: 32px;
}

.work-list {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.work-card {
  width: 100%;
  height: 300px;
  background-size: cover;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 1px #6a994e;
}
.work-card video {
  width: 100%;
  height: 100%;
}
.work-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.work-card .layer {
  position: absolute;
  left: 0;
  bottom: -105%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #6a994e);
  overflow: hidden;
  transition: 0.5s;
  padding: 10px;
  color: white;
  text-shadow: 0px 0px 4px black;
}
.work-card .layer * {
  margin-bottom: 8px;
}
.work-card .layer p {
  font-size: 12px;
}
.work-card .layer a {
  text-align: center;
}
.work-card:hover .layer {
  bottom: 0;
}
.work-card:hover img {
  transform: scale(1.2);
}

.projects .links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-me {
  padding-top: 24px;
  margin-bottom: 40px;
  overflow: hidden;
}
.contact-me .contact-div {
  display: flex;
  justify-content: space-between;
}
.contact-me .contact-div h1 {
  margin-bottom: 16px;
  font-size: 32px;
}
.contact-me .contact-div .contact-left > * {
  margin-bottom: 8px;
}
.contact-me .contact-div .contact-left p i {
  margin-right: 8px;
  font-size: 16px;
}
.contact-me .contact-div .contact-left p:nth-of-type(2) i {
  font-size: 19px;
}
.contact-me .contact-div .contact-left .social-media {
  display: flex;
  margin-top: 16px;
}
.contact-me .contact-div .contact-left .social-media a {
  margin-right: 16px;
}
.contact-me .contact-div .contact-left .social-media a i {
  font-size: 24px;
  transition: 0.4s;
}
.contact-me .contact-div .contact-left .social-media a i:hover {
  color: #6a994e;
  transform: translateY(-2px);
}
.contact-me .contact-div .contact-right {
  flex-basis: 55%;
}
.contact-me .contact-div .contact-right form input, .contact-me .contact-div .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 16px;
  margin: 8px 0;
}
.contact-me .contact-div .contact-right form button {
  margin-top: 0;
  border: 0;
  cursor: pointer;
}

.download-links {
  display: flex;
  gap: 16px;
}
.download-links i {
  margin-right: 4px;
}

footer {
  background: #262626;
  padding: 12px;
  text-align: center;
}

@media (max-width: 1200px) {
  .home .home-img-div .home-content .text-1 {
    font-size: 18px;
  }
  .home .home-img-div .home-content .text-2 {
    font-size: 32px;
  }
  .home .home-img-div .home-content .text-3 {
    font-size: 24px;
  }
  .about .about-content {
    height: 620px;
  }
}
@media (max-width: 1024px) {
  .about .about-content {
    height: 680px;
  }
  .about .about-content .right-about {
    flex: 1;
  }
}
@media (max-width: 1000px) {
  .projects .links {
    display: block;
  }
  .work-card .layer a {
    display: block;
  }
}
@media (max-width: 880px) {
  .about .about-content {
    display: block;
    height: auto;
  }
}
@media (max-width: 768px) {
  nav .navbar .bars {
    display: inline-block;
  }
  nav .navbar .right-nav .close {
    display: inline-block;
    position: absolute;
    left: 16px;
    top: 16px;
  }
  nav .navbar .right-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -105%;
    top: 0;
    /* gap: 32px; */
    width: 50%;
    height: 100vh;
    background: #6a994e;
    align-items: center;
    padding-top: 40px;
    transition: 0.5s;
  }
  nav .navbar .right-nav a {
    border-bottom: 1px solid #ebe9e9;
    /* display: block; */
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-right: 0;
  }
  .work-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .contact-me .contact-div {
    display: block;
    text-align: center;
  }
  .contact-left {
    margin-bottom: 24px;
  }
  .contact-me .contact-div .contact-left .social-media {
    justify-content: center;
  }
  .download-links {
    justify-content: center;
  }
  .contact-me .contact-div .contact-right form button {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}
@media (max-width: 480px) {
  nav .navbar .left-nav a {
    font-size: 24px;
  }
  nav .navbar .right-nav a {
    font-size: 16px;
    padding: 16px;
  }
  nav.sticky {
    padding: 4px;
  }
  .about .about-content .right-about .tab-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .about .about-content .right-about .tab-content .content {
    margin-top: 24px;
  }
  .about .about-content .right-about .tab-titles .title.active::after {
    width: 20%;
  }
  .work-list {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  color: #ebe9e9;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #03080f;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.main-text {
  color: #6a994e;
}

.name {
  font-weight: 600;
}

.btn {
  padding: 8px 16px;
  background: #6a994e;
  border-radius: 4px;
  display: inline-block;
  margin-top: 16px;
  transition: 0.5s;
}
.btn:hover {
  background-color: #004d25;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6a994e;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a994e;
  border-radius: 4px;
}

#msg {
  font-size: 12px;
}/*# sourceMappingURL=index.css.map */