.about{
  margin-bottom: 40px;
  overflow: hidden;
  .about-content{
    padding-top:66px;
    display:flex;
    gap:24px;
    justify-content: space-between;
    // align-items: stretch;
    height: 450px;
    .left-about{
      flex:1;
      // height: 500px;
      width:100%;
      // background-color: red;
      img{
        width:100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right-about{
      flex:2;
      h1{
        margin-bottom: 16px;
        font-size: 40px;
      }
      .about-me{
        // font-size: 12px;
      }
      .tab-titles{
        margin-top:16px;
        display:flex;
        gap:32px;
        .title{
          cursor: pointer;
          font-weight: 500;
          position: relative;
          &::after{
            content: '';
            width:0;
            height: 3px;
            background-color: $main;
            position: absolute;
            bottom:0;
            left:0;
          }
          &.active::after{
            width:50%;
          }
        }
      }
      .tab-content{
        margin-top: 16px;

        .content{
          display:none;
          ul{
            list-style: none;
            li {
              // margin-bottom: 16px;
              span{
                font-size:13px;
              }
            }

          }
          &.active{
            display:block;
          }
          .bars{
            margin-bottom: 16px;
            .info{
              display:flex;
              justify-content: space-between;
            }
            .line{
              height: 5px;
              width:100%;
              background-color: lightgray;
              position: relative;
              &::after{
                content:'';
                height: 100%;
                // width: 70%;
                background-color: $main;
                position:absolute;
                top:0;
                left:0;
              }
              &.html::after{
                width:80%;
              }
              &.css::after{
                width:80%;
              }
              &.ruby::after{
                width:75%;
              }
              &.javascript::after{
                width:60%;
              }
              &.react::after{
                width:30%;
              }
              &.sql::after{
                width:70%;
              }
              &.git::after{
                width:50%;
              }
            }
          }

        }
      }


    }
  }
}

#Skills .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    span.icon{
      margin-right:4px;
    }
}

#Languages ul{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:8px;
}
