.language{
  cursor: pointer;
  position: absolute;
  top:80px;
  right:8px;
  a{
    width: 32px;
    height: 20px;
    display: block;
    img{
      width:100%;
      object-fit: cover;
    }
    &:first-of-type{
      margin-bottom: 8px;
    }
  }
}
