*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: $text;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: $bg;
}



a{
  text-decoration: none;
}

.container{
  width:90%;
  margin:0 auto;
  height: 100%;
}

.main-text{
  color: $main;
}

.name{
  font-weight: 600;
}

.btn{
  padding: 8px 16px;
  background: $main;
  border-radius: 4px;
  display: inline-block;
  margin-top:16px;
  transition:0.5s;
  &:hover{
    // opacity: 0.6;
    background-color: #004d25;
    // color:white;
  }
}

// scrollbar css


/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $main;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $main;
  border-radius: 4px;
}



// error message
#msg{
  font-size:12px;
}
